 body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; /* 让内容垂直居中 */
            height: 100vh;
            margin: 0;
            background-image: url('../icon/bj8.jpg');
            background-size: cover;
        }
         #welcome-text {
            position: fixed;
            top: 10px;
            left: 10px;
            font-size: 16px;
            color: #B5B5B5;
        }
        .top-icons {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 20px;
            margin-bottom: 20px; /* Add margin-bottom to separate from the search container */
        }

        .top-icons a {
            margin: 5px;
        }
        .top-icons img {
             width: 65px; /* Adjust the size as needed */
             height: 65px; /* Adjust the size as needed */
}
        .search-container {
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            position: relative;
        }

        .search-container p {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .logo {
            width: 20px; /* Adjust the width as needed */
            height: 20px; /* Adjust the height as needed */
            margin-right: 5px; /* Adjust the margin as needed */
        }
        .bottom-text {
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            font-size: 14px;
            color: white;
			display: flex;
            align-items: center;
        }

        body p {
            font-size: 14px;
            color: #B5B5B5;
        }

        .search-container img {
            width: 50px;
            height: 50px;
			margin: 10px;
            margin-bottom: 100px;
            top: -30px;
        }


        input {
            width: 100%;
			height: 60px;
            padding: 10px;
            box-sizing: border-box;
			margin: 0 auto; /* 设置左右边距为自动，实现水平居中 */
            margin-bottom: 20px;
			border-radius: 30px; /* 添加圆角 */
			
        }

        .icon-button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
        }
        
        .icon-container {
		    width: 50%; /* 50% of the viewport width */
            display: flex;
			flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        

        .icon {
            width: 50px;
            height: 50px;
			margin: 5px;
			flex: 0 0 calc(20% - 20px);
			
        }

        .small-icon {
            width: 30px;
            height: 30px;
        }
		
	/* Media Query for screens smaller than 600px (typical mobile phones) */
        @media only screen and (max-width: 600px) {
            .search-container img {
                margin-bottom: 100px;
            }

            input {
                width: 100%;
            }

            .icon {
                width: 30px;
                height: 30px;
            }
        }	
		