body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#sidebar {
    width: 12%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
}

#content {
    flex: 1;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    overflow-y: auto;
}

#content-left, #content-center, #content-right {
    flex: 1;
    padding: 10px;
}

#content-center {
    flex: 3; /* Adjusted width, you can experiment with different values */
}

#sidebar h2 {
    font-size: 12px; /* Font size for left sidebar headings */
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}
